<!DOCTYPE html>
<html>
<head>
	<title>Success</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>

	<div class="col-md-4 col-md-offset-4 container-card">
        <h1>Data successfully added</h1>
		<img src="https://cdn.dribbble.com/users/2185205/screenshots/7886140/media/90211520c82920dcaf6aea7604aeb029.gif" alt=""> <br>
        <a href="/userData">Add another data</a>
	</div>
</body>
</html>